[submodule "Practice1"]
	path = Practice1
	url = https://github.com/nurbekturuspekov338-netizen/Practice1.git
[submodule "Practice2"]
	path = Practice2
	url = https://github.com/nurbekturuspekov338-netizen/Practice2.git
